<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/98.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>축제 리스트</title>
    </head>
    <style>
        * {
            padding: 0;
            margin: 0;
            font-size: 1.1em;
        }
        body {
            background-color: #c3c3c3;
        }

        body > div {
            width: 100%;
            height: auto;
        }
        th {
            width: 5em;
        }
        .window {
            padding: 0;
            margin: 0;
        }
        .window-body {
            display: flex;
        }
        .sunken-panel {
            margin-left: 2em;
        }

    </style>
    <body>
        <div class="window"></div>
        <div class="title-bar">
            <div class="title-bar-text">Board</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close" onclick="window.close()"></button>
            </div>
        </div>
        <div class="window-body">
            <div class="sunken-panel" style="height: 50em; width: 85em">
                <table class="interactive">
                    <thead>
                        <tr>
                            <th>찜</th> 
                            <th>제목</th>
                            <th>내용</th>
                            <th>지역</th>
                            <th>축제날짜</th>
                            <th>문의전화</th>
                            <!-- isDib -->
                        </tr>
                    </thead>
                    <tbody>
                        <% festivals.forEach(festival => { %>
                        <tr>
                            <td>
                                <% if (festival.isDib) { %>
                                    <input type="checkbox" checked onclick="dib(<%= festival.festival_id %>)" id=<%= festival.festival_id %>><label for=<%= festival.festival_id %>>&nbsp;</label>
                                <% } else { %>
                                    <input type="checkbox" onclick="dib(<%= festival.festival_id %>)" id=<%= festival.festival_id %>><label for=<%= festival.festival_id %>>&nbsp;</label>
                                <% }%>
                            </td>
                            <td><%= festival.festival_title %></td>
                            <td><%= festival.festival_description %></td>
                            <td><%= festival.festival_place %></td>
                            <td><%= festival.festival_start_date %> ~ <%= festival.festival_end_date %></td>
                            <td><%= festival.festival_tel %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <script>

            const dib = async (festivalId) => {
                const postDib = await axios({
                    method: 'post',
                    url: 'http://localhost:3000/festival/dibs',
                    data: { festivalId: festivalId } 
                 })
                 console.log(postDib.data);
                 alert(postDib.data.message)
            }
        </script>
    </body>
</html>
